<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AeroStat_Sharp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="AeroStat_Sharp.Properties.Settings.testAeroStat" connectionString="Server=localhost\SQLEXPRESS;Database=testAeroStat;User=AeroStat;Pwd=aerostat;Trusted_Connection=True;" />
    </connectionStrings>
    <applicationSettings>
        <AeroStat_Sharp.Properties.Settings>
            <setting name="station" serializeAs="String">
                <value>KHIF</value>
            </setting>
            <setting name="key" serializeAs="String">
                <value>56898de</value>
            </setting>
            <setting name="stationName" serializeAs="String">
                <value>Hill AFB, UT</value>
            </setting>
            <setting name="timezone" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="dst" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="publishedHours" serializeAs="String">
                <value>0800-2359</value>
            </setting>
            <setting name="blanketPPR" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="globalSyncLength" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="globalSyncInterval" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="rcrLimit" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="pprCUI" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="dateFormat" serializeAs="String">
                <value>dd-MMM-yy HH:mm</value>
            </setting>
        </AeroStat_Sharp.Properties.Settings>
    </applicationSettings>
</configuration>